name: CI

permissions:
  contents: read

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    name: Lint & test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.12"
          - "3.13"

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          activate-environment: true
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv pip install .[test]

      - name: Lint
        run: ruff check .

      - name: Check format
        run: ruff format --check .

      - name: Check types
        run: ty check nettigo_air_monitor

      - name: Run tests
        run: pytest --timeout=30 --cov --cov-branch --cov-report=xml --error-for-skips

      - name: Upload coverage reports to Codecov
        if: ${{ matrix.python-version }} == "3.13"
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
